@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************/
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center {
  max-width: 1392px;
  width: 100%;
  margin: 0 auto;
}

.center-two {
  max-width: 1195px;
  width: 100%;
  margin: 0 auto;
}

/* header */
header {
  background-image: url(../images/bg-one.jpg);
  height: 880px;
  background-size: 100%;
  background-position: 0 87%;
  width: 100%;
  font-family: 'Grtsk Giga';
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
}

@media only screen and (max-width: 1440px) {
  header {
    width: 100%;
  }
}

@media only screen and (max-width: 1330px) {
  header {
    background-size: 113%;
  }
}

@media only screen and (max-width: 1173px) {
  header {
    background-size: 124%;
    background-position: 89% 86%;
  }
}

@media only screen and (max-width: 1072px) {
  header {
    background-size: 137%;
  }
}

@media only screen and (max-width: 1025px) {
  header {
    background-size: 137%;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    background-image: url(../images/bg-two-min.jpg);
    background-size: 250%;
    background-position: 53% 62%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    background-size: 301%;
    background-position: 41% 62%;
  }
}

@media only screen and (max-width: 500px) {
  header {
    background-size: 362%;
  }
}

header .blur-two {
  background: rgba(10, 52, 210, 0.7);
  mix-blend-mode: hue;
  height: 880px;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  header .blur-two {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  header .blur-two {
    display: none;
  }
}

header .blur {
  background-image: url(../images/blur.png);
  mix-blend-mode: overlay;
  height: 321px;
  width: 100%;
  position: absolute;
  top: 63.3%;
}

@media only screen and (max-width: 1440px) {
  header .blur {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  header .blur {
    display: none;
    height: 864px;
  }
}

header .all-info {
  font-family: 'Grtsk Giga';
}

header .all-info .header-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1440px) {
  header .all-info .header-one {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  header .all-info .header-one {
    display: none;
  }
}

header .all-info .header-one .logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .all-info .header-one .logotype .txt-one {
  font-family: 'Clash Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  padding-left: 5px;
}

header .all-info .header-one .navigation-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .all-info .header-one .navigation-one .first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 54px;
}

header .all-info .header-one .navigation-one .first-block .txt-two {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
  padding-right: 5px;
}

header .all-info .header-one .navigation-one .second-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  */
  /*  */
}

header .all-info .header-one .navigation-one .second-block .txt-three {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
  padding-right: 5px;
}

header .all-info .header-one .navigation-one .second-block .menu__icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 14px;
  height: 18px;
  cursor: pointer;
}

header .all-info .header-one .navigation-one .second-block .menu__icon span,
header .all-info .header-one .navigation-one .second-block .menu__icon::before,
header .all-info .header-one .navigation-one .second-block .menu__icon::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #ffff;
  border-radius: 1px;
}

header .all-info .header-one .navigation-one .second-block .menu__icon::before,
header .all-info .header-one .navigation-one .second-block .menu__icon::after {
  content: "";
}

header .all-info .header-one .navigation-one .second-block .menu__icon::before {
  top: 2px;
}

header .all-info .header-one .navigation-one .second-block .menu__icon::after {
  bottom: 0;
  width: 7px;
  top: 68%;
  margin-left: 7px;
}

header .all-info .header-one .navigation-one .second-block .menu__icon span {
  top: 46%;
  -webkit-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

header .all-info .information-none .header-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 0px 0px 20px 20px;
  z-index: 3;
  display: none;
}

@media only screen and (max-width: 1024px) {
  header .all-info .information-none .header-two {
    display: block;
    height: 90px;
    position: fixed;
    width: 100%;
  }
}

header .all-info .information-none .header-two .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .all-info .information-none .header-two .all {
    width: 95%;
    height: auto;
    padding-top: 52px;
  }
}

header .all-info .information-none .header-two .all .logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .all-info .information-none .header-two .all .logotype .txt-one {
  font-family: 'Clash Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  color: #0A0A0B;
  padding-left: 5px;
}

header .all-info .information-none .header-two .all .navigation-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .all-info .information-none .header-two .all .navigation-one .first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 54px;
}

@media only screen and (max-width: 1024px) {
  header .all-info .information-none .header-two .all .navigation-one .first-block {
    display: none;
  }
}

header .all-info .information-none .header-two .all .navigation-one .first-block .txt-two {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #0A0A0B;
  padding-right: 5px;
}

header .all-info .information-none .header-two .all .navigation-one .second-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  */
  /*  */
}

header .all-info .information-none .header-two .all .navigation-one .second-block .txt-three {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #0A0A0B;
  padding-right: 5px;
}

header .all-info .information-none .header-two .all .navigation-one .second-block .menu__icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 14px;
  height: 18px;
  cursor: pointer;
}

header .all-info .information-none .header-two .all .navigation-one .second-block .menu__icon span,
header .all-info .information-none .header-two .all .navigation-one .second-block .menu__icon::before,
header .all-info .information-none .header-two .all .navigation-one .second-block .menu__icon::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #0A0A0B;
  border-radius: 1px;
}

header .all-info .information-none .header-two .all .navigation-one .second-block .menu__icon::before,
header .all-info .information-none .header-two .all .navigation-one .second-block .menu__icon::after {
  content: "";
}

header .all-info .information-none .header-two .all .navigation-one .second-block .menu__icon::before {
  top: 2px;
}

header .all-info .information-none .header-two .all .navigation-one .second-block .menu__icon::after {
  bottom: 0;
  width: 7px;
  top: 68%;
  margin-left: 7px;
}

header .all-info .information-none .header-two .all .navigation-one .second-block .menu__icon span {
  top: 46%;
  -webkit-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

header .all-info .information-none .navigation-menu {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 0px 0px 20px 20px;
  display: none;
}

@media only screen and (max-width: 1024px) {
  header .all-info .information-none .navigation-menu {
    position: fixed;
    width: 100%;
    z-index: 3;
  }
}

header .all-info .information-none .navigation-menu .navigation-three {
  height: 52px;
  padding-left: 240px;
  padding-top: 14px;
}

@media only screen and (max-width: 1440px) {
  header .all-info .information-none .navigation-menu .navigation-three {
    width: 95%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  header .all-info .information-none .navigation-menu .navigation-three {
    height: 380px;
  }
}

header .all-info .information-none .navigation-menu .navigation-three .more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 52px;
  padding-bottom: 40px;
  display: none;
}

@media only screen and (max-width: 1024px) {
  header .all-info .information-none .navigation-menu .navigation-three .more-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .all-info .information-none .navigation-menu .navigation-three .more-info .first a {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #0A0A0B;
  text-decoration: none;
}

header .all-info .information-none .navigation-menu .navigation-three .more-info .first a img {
  vertical-align: bottom;
}

header .all-info .information-none .navigation-menu .navigation-three ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1440px) {
  header .all-info .information-none .navigation-menu .navigation-three ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 1024px) {
  header .all-info .information-none .navigation-menu .navigation-three ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .all-info .information-none .navigation-menu .navigation-three ul li {
  padding-left: 70px;
}

@media only screen and (max-width: 1440px) {
  header .all-info .information-none .navigation-menu .navigation-three ul li {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  header .all-info .information-none .navigation-menu .navigation-three ul li {
    padding-bottom: 30px;
  }
}

header .all-info .information-none .navigation-menu .navigation-three ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #0A0A0B;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

header .all-info .information-none .navigation-menu .navigation-three ul li a:hover {
  color: #3861FB;
}

header .all-info .information-none .navigation-menu .navigation-three ul .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
}

@media only screen and (max-width: 1440px) {
  header .all-info .information-none .navigation-menu .navigation-three ul .menu-list {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  header .all-info .information-none .navigation-menu .navigation-three ul .menu-list {
    display: none;
  }
}

header .all-info .information-none .navigation-menu .navigation-three ul .menu-list a {
  padding-right: 5px;
}

header .all-info .information-none .navigation-menu.dott {
  display: none;
}

header .all-info .information-none .navigation-menu.sekk {
  display: block;
}

header .all-info .down-info {
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  header .all-info .down-info {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  header .all-info .down-info {
    position: static;
  }
}

header .all-info .down-info .part-of-club {
  padding-top: 424px;
}

@media only screen and (max-width: 1440px) {
  header .all-info .down-info .part-of-club {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  header .all-info .down-info .part-of-club {
    padding-top: 461px;
  }
}

header .all-info .down-info .part-of-club .logotype-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .all-info .down-info .part-of-club .logotype-three .descr {
  font-family: 'Clash Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  padding-left: 5px;
}

header .all-info .down-info .part-of-club h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 120%;
  color: #FFFFFF;
  padding-top: 10px;
}

@media only screen and (max-width: 1173px) {
  header .all-info .down-info .part-of-club h1 {
    font-size: 62px;
  }
}

@media only screen and (max-width: 1024px) {
  header .all-info .down-info .part-of-club h1 {
    font-size: 47px;
  }
}

@media only screen and (max-width: 768px) {
  header .all-info .down-info .part-of-club h1 {
    font-size: 25px;
    width: 353px;
  }
}

header .all-info .down-info .part-of-club h1 .underline {
  border-bottom: 8px solid #FFFFFF;
  padding-bottom: 3px;
}

@media only screen and (max-width: 1024px) {
  header .all-info .down-info .part-of-club h1 .underline {
    border-bottom: 5px solid #FFFFFF;
  }
}

@media only screen and (max-width: 768px) {
  header .all-info .down-info .part-of-club h1 .underline {
    border-bottom: 3px solid #FFFFFF;
  }
}

header .all-info .down-info .part-of-club .all-buttons {
  position: absolute;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  header .all-info .down-info .part-of-club .all-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
    width: 345px;
    z-index: 2;
  }
}

header .all-info .down-info .part-of-club .all-buttons .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

header .all-info .down-info .part-of-club .all-buttons .buttons form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .all-info .down-info .part-of-club .all-buttons .buttons form .firs-button {
  font-family: 'Grtsk Giga';
  border: none;
  background: #3861FB;
  border-radius: 0px 24px;
  width: 352px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
  text-align: start;
  padding-left: 25px;
}

@media only screen and (max-width: 1024px) {
  header .all-info .down-info .part-of-club .all-buttons .buttons form .firs-button {
    text-align: start;
    padding-left: 21px;
  }
}

header .all-info .down-info .part-of-club .all-buttons .buttons form .firs-button:hover {
  background: #0A0A0B;
}

header .all-info .down-info .part-of-club .all-buttons .buttons form .second-button {
  background: #FFFFFF;
  color: #0A0A0B;
  text-align: start;
  padding-left: 52px;
}

@media only screen and (max-width: 1024px) {
  header .all-info .down-info .part-of-club .all-buttons .buttons form .second-button {
    text-align: start;
    padding-left: 48px;
  }
}

header .all-info .down-info .part-of-club .all-buttons .buttons form .second-button:hover {
  background: #0A34D2;
}

header .all-info .down-info .part-of-club .all-buttons .buttons .images {
  position: absolute;
  left: 86%;
}

@media only screen and (max-width: 1024px) {
  header .all-info .down-info .part-of-club .all-buttons .buttons .images {
    left: 87%;
  }
}

header .all-info .down-info .part-of-club .all-buttons .buttons .images-two {
  left: 87%;
}

header .all-info .down-info .part-of-club .all-buttons .button-two {
  padding-left: 26px;
}

@media only screen and (max-width: 1024px) {
  header .all-info .down-info .part-of-club .all-buttons .button-two {
    padding-left: 0px;
    padding-top: 20px;
  }
}

/*  */
.container-one {
  font-family: 'Grtsk Giga';
  z-index: 2;
  position: relative;
}

.container-one .bg {
  /* position: absolute; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-one .bg .first-think {
  background: #BC96E6;
  width: 400px;
  height: 300px;
  -webkit-filter: blur(59.4px);
          filter: blur(59.4px);
  -webkit-transform: matrix(-2, 0, -1.98, 1, 0, 0);
          transform: matrix(-2, 0, -1.98, 1, 0, 0);
}

@media only screen and (max-width: 1280px) {
  .container-one .bg .first-think {
    width: 200px;
    -webkit-transform: none;
            transform: none;
  }
}

.container-one .bg .second-think {
  background: #3861FB;
  width: 450px;
  height: 652px;
  -webkit-filter: blur(96px);
          filter: blur(96px);
  /* position: relative; */
  /* top: 38%; */
  margin-top: 242px;
  -webkit-transform: skew(0deg, 20deg);
          transform: skew(0deg, 20deg);
}

@media only screen and (max-width: 1280px) {
  .container-one .bg .second-think {
    width: 300px;
    -webkit-transform: none;
            transform: none;
    margin-top: 109px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .bg .second-think {
    height: 500px;
    width: 100px;
  }
}

.container-one .all {
  position: absolute;
  width: 100%;
}

.container-one .all .mygg {
  position: relative;
  border-bottom: 2px solid #0A0A0B;
  padding-bottom: 7px;
  width: auto;
}

.container-one .all .mygg .mygg-two .mygg-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-one .all .mygg .mygg-two .mygg-three h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 120%;
  color: #0A0A0B;
}

@media only screen and (max-width: 1793px) {
  .container-one .all .mygg .mygg-two .mygg-three h1 {
    font-size: 90px;
  }
}

@media only screen and (max-width: 1651px) {
  .container-one .all .mygg .mygg-two .mygg-three h1 {
    font-size: 80px;
  }
}

@media only screen and (max-width: 1472px) {
  .container-one .all .mygg .mygg-two .mygg-three h1 {
    font-size: 72px;
  }
}

@media only screen and (max-width: 1314px) {
  .container-one .all .mygg .mygg-two .mygg-three h1 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .all .mygg .mygg-two .mygg-three h1 {
    font-size: 55px;
  }
}

@media only screen and (max-width: 898px) {
  .container-one .all .mygg .mygg-two .mygg-three h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .container-one .all .mygg .mygg-two .mygg-three h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 672px) {
  .container-one .all .mygg .mygg-two .mygg-three h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .container-one .all .mygg .mygg-two .mygg-three h1 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 415px) {
  .container-one .all .mygg .mygg-two .mygg-three h1 {
    font-size: 22px;
  }
}

.container-one .all .mygg .mygg-two .mygg-three h1 span {
  color: transparent;
  /* прозрачный цвет букв */
  -webkit-text-stroke: 3px #0A0A0B;
}

.container-one .all .all-inforamtion {
  position: relative;
  margin-top: 150px;
  height: 732px;
  border: 2px solid #0A0A0B;
  border-radius: 50px 0;
  background-color: #FFFFFF;
  z-index: 5;
}

@media only screen and (max-width: 1620px) {
  .container-one .all .all-inforamtion {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .all .all-inforamtion {
    height: auto;
    margin-top: 61px;
  }
}

.container-one .all .all-inforamtion .upper {
  height: 550px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/town-min.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/town-min.jpg);
  border-radius: 50px 0px;
  background-size: 100%;
  background-position: 0% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1024px) {
  .container-one .all .all-inforamtion .upper {
    background-size: 114%;
    /* background-position-x: 50%; */
    background-position: 62% 98%;
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .container-one .all .all-inforamtion .upper {
    background-size: 135%;
  }
}

@media only screen and (max-width: 470px) {
  .container-one .all .all-inforamtion .upper {
    background-size: 162%;
  }
}

@media only screen and (max-width: 400px) {
  .container-one .all .all-inforamtion .upper {
    background-size: 176%;
  }
}

.container-one .all .all-inforamtion .upper a .button {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 113px;
  height: 113px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/str-one.svg);
  background-repeat: no-repeat;
  background-position: 56%;
}

.container-one .all .all-inforamtion .upper a .button:hover {
  border: 2px solid #3861FB;
  background: rgba(56, 97, 251, 0.5);
  background-image: url(../images/str-two.svg);
  background-repeat: no-repeat;
  background-position: 56%;
}

.container-one .all .all-inforamtion .down-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1300px) {
  .container-one .all .all-inforamtion .down-info {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .all .all-inforamtion .down-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .all .all-inforamtion .down-info .imagess {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .all .all-inforamtion .down-info .images {
    margin-bottom: 24px;
    margin-top: 24px;
  }
}

.container-one .all .all-inforamtion .down-info .descr-one {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #0A0A0B;
  text-align: center;
  width: 1039px;
}

@media only screen and (max-width: 1024px) {
  .container-one .all .all-inforamtion .down-info .descr-one {
    font-size: 18px;
    width: 100%;
    text-align: start;
  }
}

.container-one .all .all-inforamtion .down-info .descr-one span {
  font-weight: 700;
}

/* container-two */
.container-two {
  font-family: 'Grtsk Giga';
  margin-top: 236px;
  background-image: url(../images/Gradient-min-min.png);
  background-repeat: no-repeat;
  background-position-y: 62%;
  background-size: 47% 107%;
}

@media only screen and (max-width: 1024px) {
  .container-two {
    margin-top: 259px;
    background-size: 47%;
    background-position-y: 7%;
  }
}

.container-two .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-two .upper h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #0A0A0B;
  text-align: center;
  width: 565px;
}

@media only screen and (max-width: 1024px) {
  .container-two .upper h1 {
    font-size: 30px;
    width: 345px;
  }
}

.container-two .upper h1 span {
  border-bottom: 3px solid #0A0A0B;
  padding-bottom: 3px;
}

@media only screen and (max-width: 1500px) {
  .container-two .crd {
    width: 95%;
  }
}

.container-two .crd .cards {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
  .container-two .crd .cards {
    margin-top: 60px;
  }
}

.container-two .crd .cards .first-card {
  width: 333px;
  height: 600px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.container-two .crd .cards .first-card .one-side {
  background-image: url(../images/card-bg-one.png);
  height: 600px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  border: 2px solid  #3A3A3A;
  border-radius: 0px 0px 0px 50px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}

@media only screen and (max-width: 1440px) {
  .container-two .crd .cards .first-card .one-side {
    background-size: 100%;
  }
}

.container-two .crd .cards .first-card .one-side .descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #0A0A0B;
  padding-top: 30px;
}

.container-two .crd .cards .first-card .one-side .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 68px;
}

.container-two .crd .cards .first-card .back-side {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75))), url(../images/card-bg-one.png);
  background: linear-gradient(rgba(255, 255, 255, 0.75)), url(../images/card-bg-one.png);
  height: 600px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border: 2px solid  #3A3A3A;
  border-radius: 0px 0px 0px 50px;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}

@media only screen and (max-width: 1440px) {
  .container-two .crd .cards .first-card .back-side {
    background-size: 100%;
  }
}

.container-two .crd .cards .first-card .back-side .descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #0A0A0B;
  padding-top: 30px;
}

.container-two .crd .cards .first-card .back-side .descr2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #0A0A0B;
  padding-top: 20px;
}

.container-two .crd .cards .second-card .one-side {
  background-image: url(../images/card-bg-two.png);
  border-radius: 0px;
}

.container-two .crd .cards .second-card .one-side .images {
  padding-top: 52px;
}

.container-two .crd .cards .second-card .back-side {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75))), url(../images/card-bg-two.png);
  background: linear-gradient(rgba(255, 255, 255, 0.75)), url(../images/card-bg-two.png);
  border-radius: 0px;
}

@media only screen and (max-width: 1440px) {
  .container-two .crd .cards .second-card .back-side {
    background-size: 100%;
  }
}

.container-two .crd .cards .third-card .one-side {
  background-image: url(../images/card-bg-three.png);
  border-radius: 0px;
}

.container-two .crd .cards .third-card .one-side .images {
  padding-top: 113px;
}

@media only screen and (max-width: 1440px) {
  .container-two .crd .cards .third-card .one-side .images {
    padding-top: 83px;
  }
}

@media only screen and (max-width: 1173px) {
  .container-two .crd .cards .third-card .one-side .images {
    padding-top: 111px;
  }
}

@media only screen and (max-width: 1139px) {
  .container-two .crd .cards .third-card .one-side .images {
    padding-top: 77px;
  }
}

.container-two .crd .cards .third-card .back-side {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75))), url(../images/card-bg-three.png);
  background: linear-gradient(rgba(255, 255, 255, 0.75)), url(../images/card-bg-three.png);
  border-radius: 0px;
}

@media only screen and (max-width: 1440px) {
  .container-two .crd .cards .third-card .back-side {
    background-size: 100%;
  }
}

.container-two .crd .cards .four-card .one-side {
  background-image: url(../images/card-bg-four.png);
  border-radius: 0 50px 0 0;
}

.container-two .crd .cards .four-card .one-side .images {
  padding-top: 53px;
}

.container-two .crd .cards .four-card .back-side {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75))), url(../images/card-bg-four.png);
  background: linear-gradient(rgba(255, 255, 255, 0.75)), url(../images/card-bg-four.png);
  border-radius: 0 50px 0 0;
}

@media only screen and (max-width: 1440px) {
  .container-two .crd .cards .four-card .back-side {
    background-size: 100%;
  }
}

.container-two .cards .first-card:hover .one-side {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.container-two .cards .first-card:hover .back-side {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.container-two .cards .first-card .back-side {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* container-three */
.container-three {
  font-family: 'Grtsk Giga';
  margin-top: 200px;
}

.container-three .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-three .txt h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #0A0A0B;
  width: 433px;
  text-align: center;
}

.container-three .txt h1 span {
  border-bottom: 3px solid #0A0A0B;
  padding-bottom: 3px;
}

.container-three .what-give .all-blocks .block .left-side h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  color: #0A0A0B;
}

.container-three .what-give .all-blocks .block .left-side .descr-one {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #0A0A0B;
}

.container-three .what-give .all-blocks .block .left-side .descr-two {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #0A0A0B;
}
/*# sourceMappingURL=main.css.map */