html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************/
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center-one {
  max-width: 1039px;
  width: 100%;
  margin: 0 auto;
  
}

.center-two {
  max-width: 1392px;
  width: 100%;
  margin: 0 auto;
  
}

.center-three {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  
}

.center-four {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  
}



body{
  font-family: 'Grtsk Tera'; 
}



@mixin onlylarge($w)
{
	@media only screen and (max-width:$w){
		@content
	}
}


/*********/


.container-one{
  background-repeat: no-repeat;
  height: 880px;
  background-size: 100%;
  background-position: 0% 100%;
  background-image: url(../images/background-one.jpg);
  width: 100%;

  @include onlylarge(1400px){
   background-size: 115%;
  }

  @include onlylarge(1200px){
    background-size: 120%;
   }
   @include onlylarge(1100px){
    background-size: 135%;
    background-position: 54% 100%;
   }
   @include onlylarge(1024px){
    height: 866px;
    background-size: 152%;
   }

   @include onlylarge(900px){
    background-size: 200%;
   }

   @include onlylarge(675px){
    background-size: 240%;
    background-position: 61% 100%;
  
   }
   @include onlylarge(550px){
     background-size: 345%;
   }

   @include onlylarge(470px){
    background-size: 406%;
    background-position: 51% 100%;
  }

   

  .color-bg{
    background: #3861FB ;
    mix-blend-mode: hue;
    border-radius: 0px;
    height: 880px; 
    position: absolute;
    width: 100%;
    max-width: 1920px;
    @include onlylarge(1024px){
      height: 866px;
     }
  }

  .texture-bg{
    background: url(../images/bg-text.png);
    mix-blend-mode: overlay;
    border-radius: 0px;
    height: 880px; 
    position: absolute;
    width: 100%;
    opacity: 0.6;
    max-width: 1920px;
    @include onlylarge(1024px){
      height: 866px;
     }
  }

  .black-txt{
    background: linear-gradient(180deg, rgba(10, 10, 11, 0) 0%, rgba(10, 10, 11, 0.5) 41.46%, #0A0A0B 100.98%);
    position: absolute;
    width: 100%;
    height: 880px;
    max-width: 1920px;
    @include onlylarge(1024px){
      height: 867px;
     }
  }


  header{
    font-family: 'Grtsk Tera';
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    /* z-index: 5; */
    ul{
      display: flex;
      align-items: center;
      li{
        cursor: pointer;
        a{
          text-decoration: none;
          font-weight: 500;
          font-size: 18px;
          line-height: 133%;   
          color: #FFFFFF;     
          img{
            vertical-align: bottom;
          }

        }
      }

      .lang{

        @include onlylarge(1024px){
          display: none;
        } 

      }
      
      .menu-two{
        padding-left: 62px;
      }
    }

    nav{
      background: #FFFFFF;
      height: 52px;
      border-radius: 0px 0px 20px 20px; 
      display: flex;
      align-items: center;
      /* position: relative; */
      left: -300%;
      /* display: none; */
      position: fixed;
      width: 100%;
      z-index: 20;
      transition: 1s;
      top: 0;
      @include onlylarge(1600px){
        padding-left: 0px;
        padding-right: 0px;
       }
       @include onlylarge(1024px){
        flex-direction: column;
        height: auto;
        align-items: flex-start;
       }

       .up{
        display: none;
        @include onlylarge(1024px){
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          padding-top: 52px;
          padding-bottom: 40px;
         }

         .first{
          @include onlylarge(1024px){
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            padding-left: 24px;
            padding-right: 24px; 
            
           }

           li{
            a{
              display: flex;
              align-items: center;
              text-decoration: none;
              color: #0A0A0B;
              vertical-align: middle;
              img{
                vertical-align: bottom;
                padding-left: 5px;
              }
            }
           }

           
         }
       }
      .second{
        display: flex;
        justify-content: space-between;

        @include onlylarge(1600px){
          width: 95%;
         }
        
        @include onlylarge(1024px){
          flex-direction: column;
          align-items: center;
          padding-bottom: 24px;
         }
        li{
          a{
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px; 
            color: #0A0A0B;
            cursor: pointer;
            transition: 0.8s;
          }

          a:hover{
            color: #3861FB;
          }
        }

        .menu-close{
          @include onlylarge(1024px){
            display: none;
           }
          a{
            img{
              vertical-align: bottom;
              padding-left: 5px;
            }
          }
        }
      }
    }

    .navigation-one.active-one{
      left: 0;
    }
  }

  
  .second-menu{
    /* position: fixed;
    z-index: 25;
    width: 100%; */
    .header{
      font-family: 'Grtsk Tera';
      display: none;
      z-index: 15;
      transition: 1s;
      align-items: center;
      justify-content: space-between;
      height: 52px;
      padding-left: 0px;
      padding-right: 0px;
      background: #FFFFFF;
      border-radius: 0px 0px 20px 20px;
      max-width: 1920px;
      width: 100%;
      position: fixed;
      /* position: relative; */

      @include onlylarge(1024px){
         height: auto;
         padding-top: 52px;
         padding-bottom: 14px;
       }
      ul{
        display: flex;
        align-items: center;
        padding-right: 24px;
        li{
          a{
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            line-height: 133%;   
            color:#0A0A0B;    
            img{
              vertical-align: bottom;
            }
  
          }
        }

        

        .lang{
          @include onlylarge(1024px){
             display: none;
           } 
        }
        
        .menu-two{
          padding-left: 62px;
          cursor: pointer;
         
        }
      } 

     

      

      .images{
        padding-left: 24px;
      }

      nav{
        background: #FFFFFF;
        height: 52px;
        border-radius: 0px 0px 20px 20px; 
        display: flex;
        align-items: center;
        /* position: relative; */
        left: -300%;
        /* display: none; */
        position: fixed;
        width: 100%;
        z-index: 20;
        transition: 1s;
        top: 0;
        @include onlylarge(1600px){
          padding-left: 0px;
          padding-right: 0px;
         }
         @include onlylarge(1024px){
          flex-direction: column;
          height: auto;
          align-items: flex-start;
         }
  
         .up{
          display: none;
          @include onlylarge(1024px){
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            padding-top: 52px;
            padding-bottom: 40px;
           }
  
           .first{
            @include onlylarge(1024px){
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: space-between;
              padding-left: 24px;
              padding-right: 24px; 
              
             }
  
             li{
              a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #0A0A0B;
                vertical-align: middle;
                img{
                  vertical-align: bottom;
                  padding-left: 5px;
                }
              }
             }
  
             
           }
         }
        .second{
          display: flex;
          justify-content: space-between;
  
          @include onlylarge(1600px){
            width: 95%;
           }
          
          @include onlylarge(1024px){
            flex-direction: column;
            align-items: center;
            padding-bottom: 24px;
           }
          li{
            a{
              text-decoration: none;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px; 
              color: #0A0A0B;
              cursor: pointer;
              transition: 0.8s;
            }
  
            a:hover{
              color: #3861FB;
            }
          }
  
          .menu-close{
            @include onlylarge(1024px){
              display: none;
             }
            a{
              img{
                vertical-align: bottom;
                padding-left: 5px;
              }
            }
          }
        }
      }

      .navigation-menu.active{
        left: 0;
      }

      
        
    } 

    .header.fixed{
      position: fixed; 
      display: flex;
      transform: translate(1px, -53px);
      width: 100%;
       
    }


    .headertwo{
      font-family: 'Grtsk Tera';
      display: none;
      /* display: flex; */
      top: 0;
      z-index: 3;
      transition: 1s;
      align-items: center;
      justify-content: space-between;
      height: 52px;
      padding-left: 0px;
      padding-right: 0px;
      background: #0A0A0B;
      border-radius: 0px 0px 20px 20px;
      max-width: 1920px;
      width: 100%;
      position: fixed;
      /* position: relative; */

      @include onlylarge(1024px){
         height: auto;
         padding-top: 52px;
         padding-bottom: 14px;
       }
      ul{
        display: flex;
        align-items: center;
        padding-right: 24px;
        li{
          a{
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            line-height: 133%;   
            color:#FFFFFF;   
            img{
              vertical-align: bottom;
            }
  
          }
        }

        

        .lang{
          @include onlylarge(1024px){
             display: none;
           } 
        }
        
        .menu-two{
          padding-left: 62px;
          cursor: pointer;
         
        }
      } 

     

      

      .images{
        padding-left: 24px;
      }

      nav{
        background: #0A0A0B;
        height: 52px;
        border-radius: 0px 0px 20px 20px; 
        display: flex;
        align-items: center;
        /* position: relative; */
        left: -300%;
        /* display: none; */
        position: fixed;
        width: 100%;
        z-index: 20;
        transition: 1s;
        top: 0;
        @include onlylarge(1600px){
          padding-left: 0px;
          padding-right: 0px;
         }
         @include onlylarge(1024px){
          flex-direction: column;
          height: auto;
          align-items: flex-start;
         }
  
         .up{
          display: none;
          @include onlylarge(1024px){
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            padding-top: 52px;
            padding-bottom: 40px;
           }
  
           .first{
            @include onlylarge(1024px){
              display: flex;
              align-items: center;
              width: 100%;
              justify-content: space-between;
              padding-left: 24px;
              padding-right: 24px; 
              
             }
  
             li{
              a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #FFFFFF;
                vertical-align: middle;
                img{
                  vertical-align: bottom;
                  padding-left: 5px;
                }
              }
             }
  
             
           }
         }
        .second{
          display: flex;
          justify-content: space-between;
  
          @include onlylarge(1600px){
            width: 95%;
           }
          
          @include onlylarge(1024px){
            flex-direction: column;
            align-items: center;
            padding-bottom: 24px;
           }
          li{
            a{
              text-decoration: none;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px; 
              color: #0A0A0B;
              cursor: pointer;
              transition: 0.8s;
            }
  
            a:hover{
              color: #3861FB;
            }
          }
  
          .menu-close{
            @include onlylarge(1024px){
              display: none;
             }
            a{
              img{
                vertical-align: bottom;
                padding-left: 5px;
              }
            }
          }
        }
      } 

      .navigation-two.active-three{
        left: 0;
      }
      
    }

    .headertwo.blackder{
      display: flex;
    }

   
    

    

   

    

   

    /*  */

    .navigation-menu.active{
      display: flex;
    }
      
    
  }

 /*  .second-menu.fixed .header{
    position: fixed;
    display: flex;
    transform: translate(1px, -53px);
    width: 100%;
     display: flex; 
     
  }
 */


 /*   .navigation-menu.open{
    display: flex;
  }  */


  .what-is-sport{
    padding-top: 160px;
    position: relative;
    z-index: 10;
    font-family: 'Grtsk Tera';
    text-align: center;
    @include onlylarge(1024px){
       width: 95%;
       text-align: start;
     }

     @include onlylarge(600px){
      padding-top: 344px;
    }

     

    h1{
      font-weight: 700;
      font-size: 70px;
      line-height: 120%;
      color: #FFFFFF;     
      padding-top: 10px;
      span{
        border-bottom: 7px solid #FFFFFF;
        padding-bottom: 8px;
        @include onlylarge(675px){
         padding-bottom: 4px;
         }

         @include onlylarge(600px){
          border-bottom: 4px solid #FFFFFF;
        
         }
      } 

      @include onlylarge(1024px){
        font-size: 53px;
      
       }

       @include onlylarge(675px){
        font-size: 45px;
      
       }

       @include onlylarge(600px){
        font-size: 28px;
      
       }

       

    }

    .txt-one{
      padding-top: 50px;
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;
      color: #FFFFFF;
      @include onlylarge(675px){
        font-size: 20px;
      
       }  
       
       @include onlylarge(600px){
        font-size: 15px;
        padding-top: 20px;
      
       }
    }

    form{
      padding-top: 50px;
      display: flex;
      justify-content: center;
      @include onlylarge(1024px){
        justify-content: flex-start;
       }

       @include onlylarge(600px){
        padding-top: 30px;
       }
       
      button{
        font-family: 'Grtsk Tera';
        border: 2px solid #0A0A0B;
        border-radius: 0 24px;
        width: 352px; 
        background: #3861FB; 
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;
        color: #FFFFFF; 
        height: 52px;
        display: flex;
        align-items: center;
        padding-left: 105px;
        cursor: pointer;
        transition: 0.8s;
        @include onlylarge(400px){
          width: 100%;
          justify-content: space-between;
        }

        .pic{

          padding-left: 105px;
          @include onlylarge(400px){
            padding-left: 0px;
            position: relative;
            left: 3%;
           }   

          img{
            width: 52px;
            height: 52px;
            vertical-align: bottom;
          }
        }
      }

      button:hover{
        background:  #0A0A0B;
      }
    } 
  }




}

/* container-two */


.container-two{
  font-family: 'Grtsk Tera';
  background: #0A0A0B; 
  padding-bottom: 140px;
  padding-top: 60px;
  .crd{
    @include onlylarge(1500px){
      width: 95%;
    }
  
    .cards{
      display: flex;
      justify-content: space-between;
      .first-card{
        width: 333px ;
        height: 300px;
        perspective: 1000px;   
        padding-bottom: 50px;
        padding-top: 30px;
        
        
        .one-side{
          height: 300px;
          padding-left: 10px;
          padding-right: 10px;
          position: absolute;
          transition: 1s;
  
          transition-delay: 0.2s;       
  
          backface-visibility: hidden;
          cursor: pointer;
          border-bottom: 2px solid  #3861FB;
          @include onlylarge(1439px){
            width: 333px;
          }
          @include onlylarge(767px){
            width: 256px;
          }

          h3{
            font-weight: 700;
            font-size: 40px;
            line-height: 140%;
            color: #FFFFFF; 
            padding-top: 10px;
          }
  
          .descr{
            font-weight: 700;
            font-size: 18px;
            line-height: 140%;
            color: #FFFFFF; 
            padding-top: 47px;
            @include onlylarge(767px){
              font-size: 15px;
            }
          }
  
  
        }
        .back-side{
          height: 300px;
          padding-left: 30px;
          padding-right: 30px; 
          border: 2px solid #3861FB;
          border-radius: 50px 0px; 
          position: absolute;
          transition: 1s;
          transition-delay: 0.2s;
          backface-visibility: hidden;
          cursor: pointer; 

          @include onlylarge(767px){
            width: 256px;
            padding-left: 20px;
            padding-right: 20px;
          }
          
          
          h3{
            color: transparent; /* прозрачный цвет букв */
              -webkit-text-stroke: 1px #FFFFFF;   
              font-size: 40px;
              line-height: 140%; 
          }
  
          .descr2{
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            color: #FFFFFF;
            padding-top: 20px;
            width: 273px;
            @include onlylarge(767px){
              width: 100%;
              font-size: 15px;
            }
          }
        }
  
      }
  
      
  
      
  
  
      
    } 
  }
}


.container-two .cards .first-card:hover .one-side{
  transform: rotateY(180deg); 
}

.container-two .cards .first-card:hover .back-side{
  transform: rotateY(360deg); 
}

.container-two .cards .first-card .back-side{
  transform: rotateY(180deg); 
}

.swiper-pagination-bullet{
  background: #3A3A3A;
}

.swiper-pagination-bullet-active{
  background: #3861FB;
}

.swiper-pagination{
  text-align: start;
}


/* container-three */




.mygg{
  position: relative;
  border-bottom: 2px solid #0A0A0B; 
  padding-bottom: 7px; 
  width: auto;
  .mygg-two{
    
    .mygg-three{
      display: flex;
      
      h1{
        font-weight: 700;
        font-size: 100px;
        line-height: 120%; 
        color: #0A0A0B;

        @include onlylarge(1550px){
          font-size: 80px;
        }

        @include onlylarge(1160px){
          font-size: 65px;
        }

        @include onlylarge(1000px){
          font-size: 55px;
        }

        @include onlylarge(732px){
          font-size: 40px;
        }

        @include onlylarge(590px){
          font-size: 30px;
        }

        @include onlylarge(400px){
          font-size: 25px;
        }

        




        

        span{
          color: transparent; /* прозрачный цвет букв */
          -webkit-text-stroke: 3px #0A0A0B;  
        }
      }
    }
  }
 }

 /* container-four */

 .container-four{
  margin-top: 180px;

  @include onlylarge(1500px){
    width: 95%;
  }


  @include onlylarge(1024px){
    margin-top: 120px;
  }
  

  h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #0A0A0B; 
    text-align: center;
  }

  .blocks{
    display: grid;
    grid-template-columns: 333px 686px 333px;
    align-items: center;
    column-gap: 20px; 
    margin-top: 80px;
    @include onlylarge(1500px){
      grid-template-columns: 20% 50% 20%;
      justify-content: center;
    }  

    @include onlylarge(1024px){
      grid-template-columns: 100%;
      margin-top: 60px;
    }  
    
    
    
    .left-side{
      @include onlylarge(1024px){
        order: 2;
        display: none;
      }  
      .block-one{
        border: 2px solid #0A0A0B;
        border-radius: 50px 0px;
        /* width: 333px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
        .descr{
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          color: #0A0A0B; 
          width: 195px;
          text-align: center;
        }

        .descr-two{
          background: rgba(56, 97, 251, 0.2);
          border-radius: 18px 19.4927px 19.4927px 19.5499px;
          font-weight: 500;
          font-size: 14.2946px;
          line-height: 140%;
          color: #0A34D2;
          padding-top: 8px;
          padding-bottom: 8px;
          width: 100px;
          text-align: center;
           
        }
      }

      .block-two{
        border-radius: 0px 50px; 
        margin-top: 30px;
      }

      .block-three{
        border-radius: 0px 50px; 
        margin-bottom: 30px;
      }

      .block-four{
        border-radius: 50px 0px;
      }
    }

    .pic{
      .center-side{
/*         width: 686px; */
        height: 406px;
        border: 2px solid #0A0A0B;
        border-radius: 50px;    
        background-repeat: no-repeat;
        background-position: 0% 25%;
        position: relative;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url(../images/footballstad.jpg)  center;
        background-size: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include onlylarge(1024px){
          order: 1;
          border-radius: 50px 0px;
        }  


        .blue{
          background: #3861FB;
          width: 100%;
          height: 406px;
          position: absolute;
          mix-blend-mode: hue;  
          border-radius: 50px;
          z-index: 1;
         
           
        }
  
      

       /*  img{
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50px;   
        } */
      }

     

    }

    .blocks-for-mobile{
      display: none;
      @include onlylarge(1024px){
        order: 2;
        display: block;
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 10px;
        row-gap: 10px;
        margin-top: 24px;
        justify-content: center;
      }   
      .block-one{
        border: 2px solid #0A0A0B;
        border-radius: 0px 50px;
        /* width: 333px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
        .descr{
          font-weight: 500;
          font-size: 16px;
          line-height: 140%;
          color: #0A0A0B; 
          width: 195px;
          text-align: center;
          @include onlylarge(1024px){
            font-size: 14px;
            width: 167px;
          }    
          
        }

        .descr-two{
          background: rgba(56, 97, 251, 0.2);
          border-radius: 18px 19.4927px 19.4927px 19.5499px;
          font-weight: 500;
          font-size: 14.2946px;
          line-height: 140%;
          color: #0A34D2;
          padding-top: 8px;
          padding-bottom: 8px;
          width: 100px;
          text-align: center;
           
        }
      } 

      .block-two{
        border-radius: 50px 0px; 
      }

      .block-three{
        border-radius: 50px 0px;         
      }

      .block-four{
        border-radius: 0px 50px; 
      }
    }
  }

  .down-info{
  
    .txt-info{
      display: flex;
      justify-content: center;
      @include onlylarge(1024px){
        justify-content: flex-start;
      }    
      .txt-three{
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
        color: #0A0A0B;
        font-family: 'Montserrat';
        width: 687px; 
        border-top: 4px solid  #3861FB;
        padding-top: 14px;
        margin-top: 30px;
        @include onlylarge(1024px){
          width: 100%;
        }   

        @include onlylarge(768px){
         font-size: 14px;
        }   
   
        span{
          font-weight: 700;
          font-size: 22px;
          line-height: 140%;
          color: #0A0A0B; 

          @include onlylarge(768px){
            font-size: 14px;
           }   
        } 
      } 
    }

    .any-buttons{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      @include onlylarge(1024px){
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
      }   
      form{
        @include onlylarge(400px){
          width: 100%;
        }
        button{
          font-family: 'Grtsk Tera';
          border: 2px solid #0A0A0B;
          border-radius: 0 24px;
          width: 352px; 
          background: #3861FB; 
          font-weight: 700;
          font-size: 18px;
          line-height: 133%;
          color: #FFFFFF; 
          height: 52px;
          display: flex;
          align-items: center;
          padding-left: 105px;
          cursor: pointer;
          transition: 0.8s; 
          @include onlylarge(1024px){
            width: 345px;
          }
          @include onlylarge(400px){
            width: 100%;
            justify-content: space-between;
          }
          .pic{
            padding-left: 105px;
            @include onlylarge(1024px){
              padding-left: 98px;
            } 
            @include onlylarge(400px){
              padding-left: 0px;
              position: relative;
              left: 3%;
             }   
            img{
              width: 52px;
              height: 52px;
              vertical-align: bottom;  
            } 
          }
        }

        button:hover{
          background-color: #0A0A0B;
        }

        .but-two{
          background: #FFFFFF;
          color: #0A0A0B;
          margin-left: 26px;
          @include onlylarge(1024px){
            margin-left: 0px;
            margin-top: 20px;
          }   
        }

        button:hover{
          color: #FFFFFF;
        }
      }
    }
  }
 }

 /* container-five */

 .container-five{
  margin-top: 200px;
  margin-bottom: 200px;
  @include onlylarge(1500px){
    width: 95%;
  }  
  @include onlylarge(1024px){
    margin-top: 137px;
    margin-bottom: 140px;
  }  
   .txt{
    display: flex;
    justify-content: center;
    h1{
      font-weight: 600;
      font-size: 40px;
      line-height: 120%;
      color: #0A0A0B;
      width: 641px; 
      text-align: center;
      @include onlylarge(700px){
        font-size: 30px;
      } 
      
      @include onlylarge(600px){
        width: 250px;
      }  

      span{
        @include onlylarge(1024px){
          border-bottom: 4px solid #0A0A0B;
          padding-bottom: 7px;
        }   
        @include onlylarge(600px){
         padding-bottom: 3px;
         border-bottom: 2px solid #0A0A0B;
        }  
      }
    } 
   }

   .cards{
    margin-top: 80px;
    height: 580px; 
    @include onlylarge(1024px){
      height: 670px;
      width: 600px; 
      margin-top: 80px;
    }  

    @include onlylarge(700px){
      width: 100%;
    }  
    
    .cards-two{
      .card-block{
        border: 2px solid #0A0A0B;
        border-radius: 50px 0px; 
        display: grid;
        grid-template-columns: 600px 686px;
        column-gap: 55px;
        padding-left: 51px; 
        width: auto;
        background-color: #FFFFFF;
        @include onlylarge(1500px){
          display: flex;
          justify-content: space-between;
        }  

        @include onlylarge(1300px){
          padding-left: 35px;
        }  
        @include onlylarge(1024px){
          flex-direction: column;
          padding-left: 0px;
          justify-content: start;
          width: 600px;
        }  
        @include onlylarge(700px){
          width: 100%;
        }  
        .left-side{
          padding-top: 50px;
          @include onlylarge(1024px){
            order: 2;
            padding-left: 15px;
            padding-top: 16px;
            padding-right: 15px;
          }  
          h2{
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;
            color: #0A0A0B; 
            @include onlylarge(1024px){
              font-size: 25px;
            }  
          }
          .descr-txt{
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 20px;
            line-height: 145%; 
            color: #0A0A0B;
            padding-top: 35px;
            @include onlylarge(1500px){
              width: 500px;
            }  
            @include onlylarge(1024px){
              width: 100%;
              padding-top: 10px;
              font-size: 14px;
            }  
          }

          .spisok{
            padding-left: 23px;
            padding-top: 50px;
            @include onlylarge(1500px){
              padding-top: 35px;
            }  

            @include onlylarge(1024px){
             padding-top: 16px;
            }   
            .android{
              list-style-type: disc;
              li{
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 22px;
                line-height: 205%; 
                color: #0A0A0B;  
                @include onlylarge(1024px){
                  font-size: 14px;
                 }     
                           
              }

              li::marker{
                width: 12px;
                color: #0A34D2;
                height: 12px;
              }
            }
          }

          .descr-txt-two{
            font-family: 'Montserrat'; 
            font-weight: 500;
            font-size: 30px;
            line-height: 120%;
            color: #0A0A0B; 
            padding-top: 61px;
            @include onlylarge(1500px){
              padding-top: 32px;
            }  
            @include onlylarge(1024px){
              padding-top:97px;
            }  

            @include onlylarge(463px){
              padding-top:32px;
            }  


          }
        }

        .right-side{
          height: 580px;
          @include onlylarge(1024px){
            order: 1;
            height: 260px;
            display: none;
          }   
          
          img{
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }          
        }

        .right-side-mobile{
          height: 260px;
          display: none;
          @include onlylarge(1024px){
           display: block;
          }   
          
          img{
            max-width: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }

      .card-block-two{
        .left-side{
          .descr-txt-two{
            padding-top: 39px;
            @include onlylarge(1500px){
              padding-top: 16px;
            }  

            @include onlylarge(1024px){
              padding-top: 106px;
            }  
            @include onlylarge(463px){
              padding-top:32px;
            }  
          }

          .spisok{
            @include onlylarge(1500px){
              padding-top: 13px;
            }  
          }
        }
      }

      .card-block-three{
        .left-side{
          .descr-txt-two{
            padding-top: 123px;
            @include onlylarge(1024px){
              padding-top: 146px;
            }  

            @include onlylarge(463px){
              padding-top:106px;
            }  
          }
        }
      } 

      .card-block-four{
        .left-side{
          .descr-txt-two{
            padding-top: 151px;
            @include onlylarge(1500px){
              padding-top: 179px;
            }  
            @include onlylarge(1024px){
              padding-top: 169px;
            }  
            @include onlylarge(463px){
              padding-top:134px;
            }  
          }
        }
      } 
    }
   }
 }

 /* container-six  */

 .container-six{
  @include onlylarge(1500px){
    width: 95%;
   }    
  h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #0A0A0B; 
    text-align: center;
  }

  .questions{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 686px 686px;
    column-gap: 20px;
    @include onlylarge(1500px){
      grid-template-columns: 50% 50%;
     }   
     @include onlylarge(1024px){
      grid-template-columns: 100%;
      row-gap: 30px;
      margin-top: 60px;
     }   
    .left-side{
      border: 2px solid #0A0A0B;
      border-radius: 50px 0px;
      padding-left: 26px;
      padding-right: 26px;
      @include onlylarge(768px){
       padding-left: 18px;
       padding-right: 18px;
       }   
       
      h2{
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: #0A0A0B; 
        text-align: center;
        padding-top: 20px;
      }

      .all{
        border: 2px solid #E5E5E5;
        border-radius: 24px 0px 0px 0px;  
        display: flex;     
        padding-left: 26px;
        padding-right: 26px; 
        margin-top: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        @include onlylarge(768px){
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 15px;
          padding-right: 15px;
         }   
        .txt-info{
          h3{
            font-family: 'Montserrat'; 
            font-weight: 600;
            font-size: 18px;
            line-height: 167%;   
            color: #0A0A0B;  
            @include onlylarge(768px){
              font-size: 14px;
             }          
          }
          p{
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #0A0A0B; 
            border-top: 1px solid #E5E5E5;
            padding-top: 10px;
            margin-top: 10px;
          }

        }


        .plus{
          cursor: pointer;
        }

       

      }

      
    }

    .right-side{
      border-radius: 0px 50px;
      @include onlylarge(1024px){
        border-radius: 50px 0px;
       }   
      
    }
  }
 }

 .container-six .questions .left-side .all .plus .open-info{
  display: none;
 }

 .container-six .questions .left-side .all .plus .close-info{
  display: block;
 }

 .container-six .questions .left-side .all .plus.close .open-info{
  display: block;
 }



 .container-six .questions .left-side .all .plus.close .close-info{
  display: none;
 }

 .container-six .questions .left-side .all .txt-info p.answer-hide{
  display: none;
 }


 .container-six .questions .left-side .all .txt-info h3.color{
  color: #0A34D2;
 }


 /* container-seven */
 

 .container-seven{
  background: linear-gradient(180deg, rgba(10, 10, 11, 0) 0%, #0A0A0B 100%), url(../images/big-std.jpg);
  background-repeat: no-repeat;
  height: 820px;
  margin-top: 180px;
  @include onlylarge(1024px){
     margin-top: 140px;
   }    
  @include onlylarge(768px){
    background: linear-gradient(180deg, rgba(10, 10, 11, 0) 0%, #0A0A0B 100%), url(../images/big-std.jpg) 53% 91%;
    height: 866px;
   }    

   @include onlylarge(500px){
    background: linear-gradient(180deg, rgba(10, 10, 11, 0) 0%, #0A0A0B 100%), url(../images/big-std.jpg) 53% 91% / 375%;
   }   

   @include onlylarge(464px){
    background: linear-gradient(180deg, rgba(10, 10, 11, 0) 0%, #0A0A0B 100%), url(../images/big-std.jpg) 53% 91% / 479%;
   }   

  .all-blue{
    height: 820px;
    background: #3861FB;
    mix-blend-mode: hue; 
    position: absolute;
    width: 100%;

    @include onlylarge(768px){
      height: 866px;
     }    
    
  }

  .some-txt{ 
    padding-top: 310px;
    position: relative;
    @include onlylarge(1024px){
      width: 95%;
     }    
    h1{
      font-weight: 700;
      font-size: 40px;
      line-height: 140%;
      color: #FFFFFF;
      text-align: center; 
      @include onlylarge(768px){
        font-size: 30px;
       }   
    }

    form{
      margin-top: 36px;
      display: flex;
      justify-content: center;
      button{
        font-family: 'Grtsk Tera';
        background: #3861FB;
        width: 352px;
        border: 2px solid #0A0A0B;
        border-radius: 0px 24px;
        font-weight: 700;
        font-size: 18px;
        line-height: 133%;
        color: #FFFFFF;  
        height: 52px;
        display: flex;
        align-items: center;
        padding-left: 105px;
        cursor: pointer;
        transition: 0.8s;  
        @include onlylarge(464px){
          width: 345px;
         }  
         
         @include onlylarge(400px){
          width: 100%;
          justify-content: space-between;
         }   
        .pic{
         padding-left: 105px;
         @include onlylarge(464px){
          padding-left: 97px;
         }     
         @include onlylarge(400px){
          padding-left: 0px;
          position: relative;
          left: 3%;
         }   
         img{
          vertical-align: bottom;
          width: 52px;
          height: 52px;
         }
        }
      }

      button:hover{
        background: #0A0A0B;
      }
    }
  }
 }


 /* footer */

 footer{
  background-color: #0A0A0B;
  /* height: 650px; */
  .all-info{
    padding-top: 117px;
    @include onlylarge(1500px){
      width: 95%;
     }     
     @include onlylarge(1024px){
      padding-top: 60px;
     }    
    .txt{
      padding-bottom: 26px;
      border-bottom: 2px solid #FFFFFF; 
      @include onlylarge(850px){
         padding-bottom: 15px;
       }   
      h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        color: #FFFFFF; 
        @include onlylarge(850px){
          font-size: 18px;
         }    
      }
    }

    .social-media{
      padding-top: 21px;
      display: flex;
      @include onlylarge(850px){
        padding-top: 27px;
        display: grid;
        grid-template-columns: 50% 50%;
       }   
      .first-block{
        border: 2px solid #FFFFFF;
        border-radius: 50px 0px 0px 0px;
        width: 348px; 
        padding-top: 38px;
        padding-bottom: 37px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: 0.8s;
        position: relative;
        z-index: 1;
        @include onlylarge(850px){
          width: auto;
          padding-top: 15px;
          padding-bottom: 15px;
         }   
        .blue-pictures{
          display: none;
          transition: 0.8s;
          width: 37px;
          height: 37px;
          @include onlylarge(850px){
            width: 25px;
            height: 25px;
           }   
        }

        .white-pictures{
          transition: 0.8s;
          width: 37px;
          height: 37px;
          @include onlylarge(850px){
            width: 25px;
            height: 25px;
           }   
        }
      }

      .first-block:hover{
        border: 2px solid #3861FB;
        z-index: 10;
 
      }

      .first-block:hover  .white-pictures{
        display: none;
      }

      .first-block:hover  .blue-pictures{
        display: block;
      }



      .secondblock{
        border-radius: 0px;
        position: relative;
        z-index: 1;
      }

       .third-block{

        border-radius: 0px 0px 50px 0px;
        position: relative;
        z-index: 1;


      }
    }

   
    .footer-information{
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      @include onlylarge(850px){
        flex-direction: column;
        padding-top: 15px;
       }   
      .mail-info{
        a{
          text-decoration: none;
          font-family: 'Montserrat';
          font-weight: 400;
          font-size: 20px;
          line-height: 32px;
          color: #FFFFFF; 
          cursor: pointer;
          transition: 0.8s;
          @include onlylarge(850px){
            font-size: 15px;
           }   
        }
        a:hover{
          color: #0A34D2;
  
        }
      }
  
      .txt-down{
        display: flex;
        @include onlylarge(850px){
          flex-direction: column-reverse;
         }   
        .part-one{
          ul{
            li{
              padding-bottom: 20px;
              @include onlylarge(850px){
                padding-top: 10px;
               }   
              a{
                text-decoration: none;
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 20px;
                line-height: 160%; 
                color: #FFFFFF; 
                cursor: pointer;
                transition: 0.8s;
                @include onlylarge(850px){
                  font-size: 15px;
                 }   
              }
    
              a:hover{
                color: #0A34D2;
              }
            }
          } 
        }

        .part-two{
          padding-left: 60px;
          @include onlylarge(850px){
            padding-left: 0px;
            padding-bottom: 35px;
           }   
        }
      } 
    }

    .copy{
      text-align: center;
      padding-top: 72px;
      padding-bottom: 30px;
      @include onlylarge(850px){
        padding-bottom: 27px;
        padding-top: 42px;
       }   
      
      .first-descr{
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 14px;
        line-height: 179%;
        color: #FFFFFF;
      }
    }
  }
 }


 /* container-eight */

 .container-eight{

  @include onlylarge(1500px){
    width: 95%;
   }   

  h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #0A0A0B;
    text-align: center; 
  }

  .ambs-card{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 686px 686px;
    column-gap: 20px;
    padding-bottom: 40px;
    @include onlylarge(1500px){
      grid-template-columns: 47.5% 47.5%;
      column-gap: 5%;
     }  
     
     @include onlylarge(1024px){
      grid-template-columns: 100%;
      row-gap: 20px;
      margin-top: 60px;
     }   
    .left-side{
      background: #0A34D2;
      height: 580px;
      border: 2px solid #0A0A0B;
      border-radius: 50px 0px; 
      @include onlylarge(1024px){
         height: 290px;
       }   
    }

    .right-side{
      border: 2px solid #0A0A0B;
      border-radius: 0px 50px; 
      padding-left: 24px;
      padding-right: 24px;
      @include onlylarge(1024px){
        padding-left: 15px;
        padding-right: 15px;
       }   
      h3{
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: #0A0A0B;
        padding-top: 126px; 
        @include onlylarge(1069px){
          padding-top: 50px;
         }   

         @include onlylarge(1024px){
          padding-top: 15px;
         }  
         @include onlylarge(600px){
          font-size: 16px;
         }   
      }

      .txt-three{
        width: 164px;
        background: rgba(56, 97, 251, 0.1);
        border-radius: 50px;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;   
        color: #3861FB;       
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        margin-top: 20px;
        @include onlylarge(1024px){
          font-size: 12px;
          width: 115px;
         }   

         @include onlylarge(600px){
          margin-top: 12px;
         }   
      }

      .txt-four{
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
        color: #0A0A0B;   
        padding-top: 20px;
        /* padding-bottom: 125px;      */

        @include onlylarge(1024px){
          padding-bottom: 69px;
          font-size: 14px;
         }   
      }
    }
  }
 }
 

 .container-one .second-menu .headertwo nav .second li a{
  color: #FFFFFF;
 }