@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************/
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.center-one {
  max-width: 1039px;
  width: 100%;
  margin: 0 auto;
}

.center-two {
  max-width: 1392px;
  width: 100%;
  margin: 0 auto;
}

.center-three {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.center-four {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Grtsk Tera';
}

/*********/
.container-one {
  background-repeat: no-repeat;
  height: 880px;
  background-size: 100%;
  background-position: 0% 100%;
  background-image: url(../images/background-one.jpg);
  width: 100%;
  /*  .second-menu.fixed .header{
    position: fixed;
    display: flex;
    transform: translate(1px, -53px);
    width: 100%;
     display: flex; 
     
  }
 */
  /*   .navigation-menu.open{
    display: flex;
  }  */
}

@media only screen and (max-width: 1400px) {
  .container-one {
    background-size: 115%;
  }
}

@media only screen and (max-width: 1200px) {
  .container-one {
    background-size: 120%;
  }
}

@media only screen and (max-width: 1100px) {
  .container-one {
    background-size: 135%;
    background-position: 54% 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one {
    height: 866px;
    background-size: 152%;
  }
}

@media only screen and (max-width: 900px) {
  .container-one {
    background-size: 200%;
  }
}

@media only screen and (max-width: 675px) {
  .container-one {
    background-size: 240%;
    background-position: 61% 100%;
  }
}

@media only screen and (max-width: 550px) {
  .container-one {
    background-size: 345%;
  }
}

@media only screen and (max-width: 470px) {
  .container-one {
    background-size: 406%;
    background-position: 51% 100%;
  }
}

.container-one .color-bg {
  background: #3861FB;
  mix-blend-mode: hue;
  border-radius: 0px;
  height: 880px;
  position: absolute;
  width: 100%;
  max-width: 1920px;
}

@media only screen and (max-width: 1024px) {
  .container-one .color-bg {
    height: 866px;
  }
}

.container-one .texture-bg {
  background: url(../images/bg-text.png);
  mix-blend-mode: overlay;
  border-radius: 0px;
  height: 880px;
  position: absolute;
  width: 100%;
  opacity: 0.6;
  max-width: 1920px;
}

@media only screen and (max-width: 1024px) {
  .container-one .texture-bg {
    height: 866px;
  }
}

.container-one .black-txt {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 11, 0)), color-stop(41.46%, rgba(10, 10, 11, 0.5)), color-stop(100.98%, #0A0A0B));
  background: linear-gradient(180deg, rgba(10, 10, 11, 0) 0%, rgba(10, 10, 11, 0.5) 41.46%, #0A0A0B 100.98%);
  position: absolute;
  width: 100%;
  height: 880px;
  max-width: 1920px;
}

@media only screen and (max-width: 1024px) {
  .container-one .black-txt {
    height: 867px;
  }
}

.container-one header {
  font-family: 'Grtsk Tera';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 52px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  /* z-index: 5; */
}

.container-one header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-one header ul li {
  cursor: pointer;
}

.container-one header ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
}

.container-one header ul li a img {
  vertical-align: bottom;
}

@media only screen and (max-width: 1024px) {
  .container-one header ul .lang {
    display: none;
  }
}

.container-one header ul .menu-two {
  padding-left: 62px;
}

.container-one header nav {
  background: #FFFFFF;
  height: 52px;
  border-radius: 0px 0px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* position: relative; */
  left: -300%;
  /* display: none; */
  position: fixed;
  width: 100%;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
}

@media only screen and (max-width: 1600px) {
  .container-one header nav {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.container-one header nav .up {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .container-one header nav .up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 52px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one header nav .up .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container-one header nav .up .first li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #0A0A0B;
  vertical-align: middle;
}

.container-one header nav .up .first li a img {
  vertical-align: bottom;
  padding-left: 5px;
}

.container-one header nav .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1600px) {
  .container-one header nav .second {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one header nav .second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 24px;
  }
}

.container-one header nav .second li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0A0A0B;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.container-one header nav .second li a:hover {
  color: #3861FB;
}

@media only screen and (max-width: 1024px) {
  .container-one header nav .second .menu-close {
    display: none;
  }
}

.container-one header nav .second .menu-close a img {
  vertical-align: bottom;
  padding-left: 5px;
}

.container-one header .navigation-one.active-one {
  left: 0;
}

.container-one .second-menu {
  /* position: fixed;
    z-index: 25;
    width: 100%; */
  /*  */
}

.container-one .second-menu .header {
  font-family: 'Grtsk Tera';
  display: none;
  z-index: 15;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 52px;
  padding-left: 0px;
  padding-right: 0px;
  background: #FFFFFF;
  border-radius: 0px 0px 20px 20px;
  max-width: 1920px;
  width: 100%;
  position: fixed;
  /* position: relative; */
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .header {
    height: auto;
    padding-top: 52px;
    padding-bottom: 14px;
  }
}

.container-one .second-menu .header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 24px;
}

.container-one .second-menu .header ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #0A0A0B;
}

.container-one .second-menu .header ul li a img {
  vertical-align: bottom;
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .header ul .lang {
    display: none;
  }
}

.container-one .second-menu .header ul .menu-two {
  padding-left: 62px;
  cursor: pointer;
}

.container-one .second-menu .header .images {
  padding-left: 24px;
}

.container-one .second-menu .header nav {
  background: #FFFFFF;
  height: 52px;
  border-radius: 0px 0px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* position: relative; */
  left: -300%;
  /* display: none; */
  position: fixed;
  width: 100%;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
}

@media only screen and (max-width: 1600px) {
  .container-one .second-menu .header nav {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.container-one .second-menu .header nav .up {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .header nav .up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 52px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .header nav .up .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container-one .second-menu .header nav .up .first li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #0A0A0B;
  vertical-align: middle;
}

.container-one .second-menu .header nav .up .first li a img {
  vertical-align: bottom;
  padding-left: 5px;
}

.container-one .second-menu .header nav .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1600px) {
  .container-one .second-menu .header nav .second {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .header nav .second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 24px;
  }
}

.container-one .second-menu .header nav .second li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0A0A0B;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.container-one .second-menu .header nav .second li a:hover {
  color: #3861FB;
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .header nav .second .menu-close {
    display: none;
  }
}

.container-one .second-menu .header nav .second .menu-close a img {
  vertical-align: bottom;
  padding-left: 5px;
}

.container-one .second-menu .header .navigation-menu.active {
  left: 0;
}

.container-one .second-menu .header.fixed {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(1px, -53px);
          transform: translate(1px, -53px);
  width: 100%;
}

.container-one .second-menu .headertwo {
  font-family: 'Grtsk Tera';
  display: none;
  /* display: flex; */
  top: 0;
  z-index: 3;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 52px;
  padding-left: 0px;
  padding-right: 0px;
  background: #0A0A0B;
  border-radius: 0px 0px 20px 20px;
  max-width: 1920px;
  width: 100%;
  position: fixed;
  /* position: relative; */
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .headertwo {
    height: auto;
    padding-top: 52px;
    padding-bottom: 14px;
  }
}

.container-one .second-menu .headertwo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 24px;
}

.container-one .second-menu .headertwo ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
}

.container-one .second-menu .headertwo ul li a img {
  vertical-align: bottom;
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .headertwo ul .lang {
    display: none;
  }
}

.container-one .second-menu .headertwo ul .menu-two {
  padding-left: 62px;
  cursor: pointer;
}

.container-one .second-menu .headertwo .images {
  padding-left: 24px;
}

.container-one .second-menu .headertwo nav {
  background: #0A0A0B;
  height: 52px;
  border-radius: 0px 0px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* position: relative; */
  left: -300%;
  /* display: none; */
  position: fixed;
  width: 100%;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
}

@media only screen and (max-width: 1600px) {
  .container-one .second-menu .headertwo nav {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .headertwo nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.container-one .second-menu .headertwo nav .up {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .headertwo nav .up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 52px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .headertwo nav .up .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.container-one .second-menu .headertwo nav .up .first li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  vertical-align: middle;
}

.container-one .second-menu .headertwo nav .up .first li a img {
  vertical-align: bottom;
  padding-left: 5px;
}

.container-one .second-menu .headertwo nav .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1600px) {
  .container-one .second-menu .headertwo nav .second {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .headertwo nav .second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 24px;
  }
}

.container-one .second-menu .headertwo nav .second li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0A0A0B;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.container-one .second-menu .headertwo nav .second li a:hover {
  color: #3861FB;
}

@media only screen and (max-width: 1024px) {
  .container-one .second-menu .headertwo nav .second .menu-close {
    display: none;
  }
}

.container-one .second-menu .headertwo nav .second .menu-close a img {
  vertical-align: bottom;
  padding-left: 5px;
}

.container-one .second-menu .headertwo .navigation-two.active-three {
  left: 0;
}

.container-one .second-menu .headertwo.blackder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-one .second-menu .navigation-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-one .what-is-sport {
  padding-top: 160px;
  position: relative;
  z-index: 10;
  font-family: 'Grtsk Tera';
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .container-one .what-is-sport {
    width: 95%;
    text-align: start;
  }
}

@media only screen and (max-width: 600px) {
  .container-one .what-is-sport {
    padding-top: 344px;
  }
}

.container-one .what-is-sport h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 120%;
  color: #FFFFFF;
  padding-top: 10px;
}

.container-one .what-is-sport h1 span {
  border-bottom: 7px solid #FFFFFF;
  padding-bottom: 8px;
}

@media only screen and (max-width: 675px) {
  .container-one .what-is-sport h1 span {
    padding-bottom: 4px;
  }
}

@media only screen and (max-width: 600px) {
  .container-one .what-is-sport h1 span {
    border-bottom: 4px solid #FFFFFF;
  }
}

@media only screen and (max-width: 1024px) {
  .container-one .what-is-sport h1 {
    font-size: 53px;
  }
}

@media only screen and (max-width: 675px) {
  .container-one .what-is-sport h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 600px) {
  .container-one .what-is-sport h1 {
    font-size: 28px;
  }
}

.container-one .what-is-sport .txt-one {
  padding-top: 50px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

@media only screen and (max-width: 675px) {
  .container-one .what-is-sport .txt-one {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .container-one .what-is-sport .txt-one {
    font-size: 15px;
    padding-top: 20px;
  }
}

.container-one .what-is-sport form {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .container-one .what-is-sport form {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  .container-one .what-is-sport form {
    padding-top: 30px;
  }
}

.container-one .what-is-sport form button {
  font-family: 'Grtsk Tera';
  border: 2px solid #0A0A0B;
  border-radius: 0 24px;
  width: 352px;
  background: #3861FB;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 105px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media only screen and (max-width: 400px) {
  .container-one .what-is-sport form button {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.container-one .what-is-sport form button .pic {
  padding-left: 105px;
}

@media only screen and (max-width: 400px) {
  .container-one .what-is-sport form button .pic {
    padding-left: 0px;
    position: relative;
    left: 3%;
  }
}

.container-one .what-is-sport form button .pic img {
  width: 52px;
  height: 52px;
  vertical-align: bottom;
}

.container-one .what-is-sport form button:hover {
  background: #0A0A0B;
}

/* container-two */
.container-two {
  font-family: 'Grtsk Tera';
  background: #0A0A0B;
  padding-bottom: 140px;
  padding-top: 60px;
}

@media only screen and (max-width: 1500px) {
  .container-two .crd {
    width: 95%;
  }
}

.container-two .crd .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-two .crd .cards .first-card {
  width: 333px;
  height: 300px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.container-two .crd .cards .first-card .one-side {
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  border-bottom: 2px solid  #3861FB;
}

@media only screen and (max-width: 1439px) {
  .container-two .crd .cards .first-card .one-side {
    width: 333px;
  }
}

@media only screen and (max-width: 767px) {
  .container-two .crd .cards .first-card .one-side {
    width: 256px;
  }
}

.container-two .crd .cards .first-card .one-side h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #FFFFFF;
  padding-top: 10px;
}

.container-two .crd .cards .first-card .one-side .descr {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  padding-top: 47px;
}

@media only screen and (max-width: 767px) {
  .container-two .crd .cards .first-card .one-side .descr {
    font-size: 15px;
  }
}

.container-two .crd .cards .first-card .back-side {
  height: 300px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid #3861FB;
  border-radius: 50px 0px;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .container-two .crd .cards .first-card .back-side {
    width: 256px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container-two .crd .cards .first-card .back-side h3 {
  color: transparent;
  /* прозрачный цвет букв */
  -webkit-text-stroke: 1px #FFFFFF;
  font-size: 40px;
  line-height: 140%;
}

.container-two .crd .cards .first-card .back-side .descr2 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  padding-top: 20px;
  width: 273px;
}

@media only screen and (max-width: 767px) {
  .container-two .crd .cards .first-card .back-side .descr2 {
    width: 100%;
    font-size: 15px;
  }
}

.container-two .cards .first-card:hover .one-side {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.container-two .cards .first-card:hover .back-side {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.container-two .cards .first-card .back-side {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.swiper-pagination-bullet {
  background: #3A3A3A;
}

.swiper-pagination-bullet-active {
  background: #3861FB;
}

.swiper-pagination {
  text-align: start;
}

/* container-three */
.mygg {
  position: relative;
  border-bottom: 2px solid #0A0A0B;
  padding-bottom: 7px;
  width: auto;
}

.mygg .mygg-two .mygg-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mygg .mygg-two .mygg-three h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 120%;
  color: #0A0A0B;
}

@media only screen and (max-width: 1550px) {
  .mygg .mygg-two .mygg-three h1 {
    font-size: 80px;
  }
}

@media only screen and (max-width: 1160px) {
  .mygg .mygg-two .mygg-three h1 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 1000px) {
  .mygg .mygg-two .mygg-three h1 {
    font-size: 55px;
  }
}

@media only screen and (max-width: 732px) {
  .mygg .mygg-two .mygg-three h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 590px) {
  .mygg .mygg-two .mygg-three h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .mygg .mygg-two .mygg-three h1 {
    font-size: 25px;
  }
}

.mygg .mygg-two .mygg-three h1 span {
  color: transparent;
  /* прозрачный цвет букв */
  -webkit-text-stroke: 3px #0A0A0B;
}

/* container-four */
.container-four {
  margin-top: 180px;
}

@media only screen and (max-width: 1500px) {
  .container-four {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-four {
    margin-top: 120px;
  }
}

.container-four h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #0A0A0B;
  text-align: center;
}

.container-four .blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 333px 686px 333px;
      grid-template-columns: 333px 686px 333px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-top: 80px;
}

@media only screen and (max-width: 1500px) {
  .container-four .blocks {
    -ms-grid-columns: 20% 50% 20%;
        grid-template-columns: 20% 50% 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 1024px) {
  .container-four .blocks {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-four .blocks .left-side {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: none;
  }
}

.container-four .blocks .left-side .block-one {
  border: 2px solid #0A0A0B;
  border-radius: 50px 0px;
  /* width: 333px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container-four .blocks .left-side .block-one .descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #0A0A0B;
  width: 195px;
  text-align: center;
}

.container-four .blocks .left-side .block-one .descr-two {
  background: rgba(56, 97, 251, 0.2);
  border-radius: 18px 19.4927px 19.4927px 19.5499px;
  font-weight: 500;
  font-size: 14.2946px;
  line-height: 140%;
  color: #0A34D2;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100px;
  text-align: center;
}

.container-four .blocks .left-side .block-two {
  border-radius: 0px 50px;
  margin-top: 30px;
}

.container-four .blocks .left-side .block-three {
  border-radius: 0px 50px;
  margin-bottom: 30px;
}

.container-four .blocks .left-side .block-four {
  border-radius: 50px 0px;
}

.container-four .blocks .pic .center-side {
  /*         width: 686px; */
  height: 406px;
  border: 2px solid #0A0A0B;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: 0% 25%;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/footballstad.jpg) center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/footballstad.jpg) center;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  img{
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50px;   
        } */
}

@media only screen and (max-width: 1024px) {
  .container-four .blocks .pic .center-side {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-radius: 50px 0px;
  }
}

.container-four .blocks .pic .center-side .blue {
  background: #3861FB;
  width: 100%;
  height: 406px;
  position: absolute;
  mix-blend-mode: hue;
  border-radius: 50px;
  z-index: 1;
}

.container-four .blocks .blocks-for-mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .container-four .blocks .blocks-for-mobile {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: block;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
    margin-top: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container-four .blocks .blocks-for-mobile .block-one {
  border: 2px solid #0A0A0B;
  border-radius: 0px 50px;
  /* width: 333px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container-four .blocks .blocks-for-mobile .block-one .descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #0A0A0B;
  width: 195px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .container-four .blocks .blocks-for-mobile .block-one .descr {
    font-size: 14px;
    width: 167px;
  }
}

.container-four .blocks .blocks-for-mobile .block-one .descr-two {
  background: rgba(56, 97, 251, 0.2);
  border-radius: 18px 19.4927px 19.4927px 19.5499px;
  font-weight: 500;
  font-size: 14.2946px;
  line-height: 140%;
  color: #0A34D2;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100px;
  text-align: center;
}

.container-four .blocks .blocks-for-mobile .block-two {
  border-radius: 50px 0px;
}

.container-four .blocks .blocks-for-mobile .block-three {
  border-radius: 50px 0px;
}

.container-four .blocks .blocks-for-mobile .block-four {
  border-radius: 0px 50px;
}

.container-four .down-info .txt-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .container-four .down-info .txt-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.container-four .down-info .txt-info .txt-three {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #0A0A0B;
  font-family: 'Montserrat';
  width: 687px;
  border-top: 4px solid  #3861FB;
  padding-top: 14px;
  margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
  .container-four .down-info .txt-info .txt-three {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container-four .down-info .txt-info .txt-three {
    font-size: 14px;
  }
}

.container-four .down-info .txt-info .txt-three span {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #0A0A0B;
}

@media only screen and (max-width: 768px) {
  .container-four .down-info .txt-info .txt-three span {
    font-size: 14px;
  }
}

.container-four .down-info .any-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
  .container-four .down-info .any-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .container-four .down-info .any-buttons form {
    width: 100%;
  }
}

.container-four .down-info .any-buttons form button {
  font-family: 'Grtsk Tera';
  border: 2px solid #0A0A0B;
  border-radius: 0 24px;
  width: 352px;
  background: #3861FB;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 105px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media only screen and (max-width: 1024px) {
  .container-four .down-info .any-buttons form button {
    width: 345px;
  }
}

@media only screen and (max-width: 400px) {
  .container-four .down-info .any-buttons form button {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.container-four .down-info .any-buttons form button .pic {
  padding-left: 105px;
}

@media only screen and (max-width: 1024px) {
  .container-four .down-info .any-buttons form button .pic {
    padding-left: 98px;
  }
}

@media only screen and (max-width: 400px) {
  .container-four .down-info .any-buttons form button .pic {
    padding-left: 0px;
    position: relative;
    left: 3%;
  }
}

.container-four .down-info .any-buttons form button .pic img {
  width: 52px;
  height: 52px;
  vertical-align: bottom;
}

.container-four .down-info .any-buttons form button:hover {
  background-color: #0A0A0B;
}

.container-four .down-info .any-buttons form .but-two {
  background: #FFFFFF;
  color: #0A0A0B;
  margin-left: 26px;
}

@media only screen and (max-width: 1024px) {
  .container-four .down-info .any-buttons form .but-two {
    margin-left: 0px;
    margin-top: 20px;
  }
}

.container-four .down-info .any-buttons form button:hover {
  color: #FFFFFF;
}

/* container-five */
.container-five {
  margin-top: 200px;
  margin-bottom: 200px;
}

@media only screen and (max-width: 1500px) {
  .container-five {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-five {
    margin-top: 137px;
    margin-bottom: 140px;
  }
}

.container-five .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-five .txt h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #0A0A0B;
  width: 641px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .container-five .txt h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .container-five .txt h1 {
    width: 250px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-five .txt h1 span {
    border-bottom: 4px solid #0A0A0B;
    padding-bottom: 7px;
  }
}

@media only screen and (max-width: 600px) {
  .container-five .txt h1 span {
    padding-bottom: 3px;
    border-bottom: 2px solid #0A0A0B;
  }
}

.container-five .cards {
  margin-top: 80px;
  height: 580px;
}

@media only screen and (max-width: 1024px) {
  .container-five .cards {
    height: 670px;
    width: 600px;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 700px) {
  .container-five .cards {
    width: 100%;
  }
}

.container-five .cards .cards-two .card-block {
  border: 2px solid #0A0A0B;
  border-radius: 50px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 686px;
      grid-template-columns: 600px 686px;
  -webkit-column-gap: 55px;
          column-gap: 55px;
  padding-left: 51px;
  width: auto;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 1500px) {
  .container-five .cards .cards-two .card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 1300px) {
  .container-five .cards .cards-two .card-block {
    padding-left: 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 600px;
  }
}

@media only screen and (max-width: 700px) {
  .container-five .cards .cards-two .card-block {
    width: 100%;
  }
}

.container-five .cards .cards-two .card-block .left-side {
  padding-top: 50px;
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block .left-side {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-left: 15px;
    padding-top: 16px;
    padding-right: 15px;
  }
}

.container-five .cards .cards-two .card-block .left-side h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  color: #0A0A0B;
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block .left-side h2 {
    font-size: 25px;
  }
}

.container-five .cards .cards-two .card-block .left-side .descr-txt {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #0A0A0B;
  padding-top: 35px;
}

@media only screen and (max-width: 1500px) {
  .container-five .cards .cards-two .card-block .left-side .descr-txt {
    width: 500px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block .left-side .descr-txt {
    width: 100%;
    padding-top: 10px;
    font-size: 14px;
  }
}

.container-five .cards .cards-two .card-block .left-side .spisok {
  padding-left: 23px;
  padding-top: 50px;
}

@media only screen and (max-width: 1500px) {
  .container-five .cards .cards-two .card-block .left-side .spisok {
    padding-top: 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block .left-side .spisok {
    padding-top: 16px;
  }
}

.container-five .cards .cards-two .card-block .left-side .spisok .android {
  list-style-type: disc;
}

.container-five .cards .cards-two .card-block .left-side .spisok .android li {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 205%;
  color: #0A0A0B;
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block .left-side .spisok .android li {
    font-size: 14px;
  }
}

.container-five .cards .cards-two .card-block .left-side .spisok .android li::marker {
  width: 12px;
  color: #0A34D2;
  height: 12px;
}

.container-five .cards .cards-two .card-block .left-side .descr-txt-two {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: #0A0A0B;
  padding-top: 61px;
}

@media only screen and (max-width: 1500px) {
  .container-five .cards .cards-two .card-block .left-side .descr-txt-two {
    padding-top: 32px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block .left-side .descr-txt-two {
    padding-top: 97px;
  }
}

@media only screen and (max-width: 463px) {
  .container-five .cards .cards-two .card-block .left-side .descr-txt-two {
    padding-top: 32px;
  }
}

.container-five .cards .cards-two .card-block .right-side {
  height: 580px;
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block .right-side {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 260px;
    display: none;
  }
}

.container-five .cards .cards-two .card-block .right-side img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-five .cards .cards-two .card-block .right-side-mobile {
  height: 260px;
  display: none;
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block .right-side-mobile {
    display: block;
  }
}

.container-five .cards .cards-two .card-block .right-side-mobile img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-five .cards .cards-two .card-block-two .left-side .descr-txt-two {
  padding-top: 39px;
}

@media only screen and (max-width: 1500px) {
  .container-five .cards .cards-two .card-block-two .left-side .descr-txt-two {
    padding-top: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block-two .left-side .descr-txt-two {
    padding-top: 106px;
  }
}

@media only screen and (max-width: 463px) {
  .container-five .cards .cards-two .card-block-two .left-side .descr-txt-two {
    padding-top: 32px;
  }
}

@media only screen and (max-width: 1500px) {
  .container-five .cards .cards-two .card-block-two .left-side .spisok {
    padding-top: 13px;
  }
}

.container-five .cards .cards-two .card-block-three .left-side .descr-txt-two {
  padding-top: 123px;
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block-three .left-side .descr-txt-two {
    padding-top: 146px;
  }
}

@media only screen and (max-width: 463px) {
  .container-five .cards .cards-two .card-block-three .left-side .descr-txt-two {
    padding-top: 106px;
  }
}

.container-five .cards .cards-two .card-block-four .left-side .descr-txt-two {
  padding-top: 151px;
}

@media only screen and (max-width: 1500px) {
  .container-five .cards .cards-two .card-block-four .left-side .descr-txt-two {
    padding-top: 179px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-five .cards .cards-two .card-block-four .left-side .descr-txt-two {
    padding-top: 169px;
  }
}

@media only screen and (max-width: 463px) {
  .container-five .cards .cards-two .card-block-four .left-side .descr-txt-two {
    padding-top: 134px;
  }
}

/* container-six  */
@media only screen and (max-width: 1500px) {
  .container-six {
    width: 95%;
  }
}

.container-six h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #0A0A0B;
  text-align: center;
}

.container-six .questions {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 686px 686px;
      grid-template-columns: 686px 686px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media only screen and (max-width: 1500px) {
  .container-six .questions {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-six .questions {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    row-gap: 30px;
    margin-top: 60px;
  }
}

.container-six .questions .left-side {
  border: 2px solid #0A0A0B;
  border-radius: 50px 0px;
  padding-left: 26px;
  padding-right: 26px;
}

@media only screen and (max-width: 768px) {
  .container-six .questions .left-side {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.container-six .questions .left-side h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #0A0A0B;
  text-align: center;
  padding-top: 20px;
}

.container-six .questions .left-side .all {
  border: 2px solid #E5E5E5;
  border-radius: 24px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 26px;
  padding-right: 26px;
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .container-six .questions .left-side .all {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-six .questions .left-side .all .txt-info h3 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  color: #0A0A0B;
}

@media only screen and (max-width: 768px) {
  .container-six .questions .left-side .all .txt-info h3 {
    font-size: 14px;
  }
}

.container-six .questions .left-side .all .txt-info p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0A0A0B;
  border-top: 1px solid #E5E5E5;
  padding-top: 10px;
  margin-top: 10px;
}

.container-six .questions .left-side .all .plus {
  cursor: pointer;
}

.container-six .questions .right-side {
  border-radius: 0px 50px;
}

@media only screen and (max-width: 1024px) {
  .container-six .questions .right-side {
    border-radius: 50px 0px;
  }
}

.container-six .questions .left-side .all .plus .open-info {
  display: none;
}

.container-six .questions .left-side .all .plus .close-info {
  display: block;
}

.container-six .questions .left-side .all .plus.close .open-info {
  display: block;
}

.container-six .questions .left-side .all .plus.close .close-info {
  display: none;
}

.container-six .questions .left-side .all .txt-info p.answer-hide {
  display: none;
}

.container-six .questions .left-side .all .txt-info h3.color {
  color: #0A34D2;
}

/* container-seven */
.container-seven {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 11, 0)), to(#0A0A0B)), url(../images/big-std.jpg);
  background: linear-gradient(180deg, rgba(10, 10, 11, 0) 0%, #0A0A0B 100%), url(../images/big-std.jpg);
  background-repeat: no-repeat;
  height: 820px;
  margin-top: 180px;
}

@media only screen and (max-width: 1024px) {
  .container-seven {
    margin-top: 140px;
  }
}

@media only screen and (max-width: 768px) {
  .container-seven {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 11, 0)), to(#0A0A0B)), url(../images/big-std.jpg) 53% 91%;
    background: linear-gradient(180deg, rgba(10, 10, 11, 0) 0%, #0A0A0B 100%), url(../images/big-std.jpg) 53% 91%;
    height: 866px;
  }
}

@media only screen and (max-width: 500px) {
  .container-seven {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 11, 0)), to(#0A0A0B)), url(../images/big-std.jpg) 53% 91%/375%;
    background: linear-gradient(180deg, rgba(10, 10, 11, 0) 0%, #0A0A0B 100%), url(../images/big-std.jpg) 53% 91%/375%;
  }
}

@media only screen and (max-width: 464px) {
  .container-seven {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 11, 0)), to(#0A0A0B)), url(../images/big-std.jpg) 53% 91%/479%;
    background: linear-gradient(180deg, rgba(10, 10, 11, 0) 0%, #0A0A0B 100%), url(../images/big-std.jpg) 53% 91%/479%;
  }
}

.container-seven .all-blue {
  height: 820px;
  background: #3861FB;
  mix-blend-mode: hue;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .container-seven .all-blue {
    height: 866px;
  }
}

.container-seven .some-txt {
  padding-top: 310px;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .container-seven .some-txt {
    width: 95%;
  }
}

.container-seven .some-txt h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container-seven .some-txt h1 {
    font-size: 30px;
  }
}

.container-seven .some-txt form {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-seven .some-txt form button {
  font-family: 'Grtsk Tera';
  background: #3861FB;
  width: 352px;
  border: 2px solid #0A0A0B;
  border-radius: 0px 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 105px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media only screen and (max-width: 464px) {
  .container-seven .some-txt form button {
    width: 345px;
  }
}

@media only screen and (max-width: 400px) {
  .container-seven .some-txt form button {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.container-seven .some-txt form button .pic {
  padding-left: 105px;
}

@media only screen and (max-width: 464px) {
  .container-seven .some-txt form button .pic {
    padding-left: 97px;
  }
}

@media only screen and (max-width: 400px) {
  .container-seven .some-txt form button .pic {
    padding-left: 0px;
    position: relative;
    left: 3%;
  }
}

.container-seven .some-txt form button .pic img {
  vertical-align: bottom;
  width: 52px;
  height: 52px;
}

.container-seven .some-txt form button:hover {
  background: #0A0A0B;
}

/* footer */
footer {
  background-color: #0A0A0B;
  /* height: 650px; */
}

footer .all-info {
  padding-top: 117px;
}

@media only screen and (max-width: 1500px) {
  footer .all-info {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  footer .all-info {
    padding-top: 60px;
  }
}

footer .all-info .txt {
  padding-bottom: 26px;
  border-bottom: 2px solid #FFFFFF;
}

@media only screen and (max-width: 850px) {
  footer .all-info .txt {
    padding-bottom: 15px;
  }
}

footer .all-info .txt h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #FFFFFF;
}

@media only screen and (max-width: 850px) {
  footer .all-info .txt h1 {
    font-size: 18px;
  }
}

footer .all-info .social-media {
  padding-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 850px) {
  footer .all-info .social-media {
    padding-top: 27px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

footer .all-info .social-media .first-block {
  border: 2px solid #FFFFFF;
  border-radius: 50px 0px 0px 0px;
  width: 348px;
  padding-top: 38px;
  padding-bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 850px) {
  footer .all-info .social-media .first-block {
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

footer .all-info .social-media .first-block .blue-pictures {
  display: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  width: 37px;
  height: 37px;
}

@media only screen and (max-width: 850px) {
  footer .all-info .social-media .first-block .blue-pictures {
    width: 25px;
    height: 25px;
  }
}

footer .all-info .social-media .first-block .white-pictures {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  width: 37px;
  height: 37px;
}

@media only screen and (max-width: 850px) {
  footer .all-info .social-media .first-block .white-pictures {
    width: 25px;
    height: 25px;
  }
}

footer .all-info .social-media .first-block:hover {
  border: 2px solid #3861FB;
  z-index: 10;
}

footer .all-info .social-media .first-block:hover .white-pictures {
  display: none;
}

footer .all-info .social-media .first-block:hover .blue-pictures {
  display: block;
}

footer .all-info .social-media .secondblock {
  border-radius: 0px;
  position: relative;
  z-index: 1;
}

footer .all-info .social-media .third-block {
  border-radius: 0px 0px 50px 0px;
  position: relative;
  z-index: 1;
}

footer .all-info .footer-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

@media only screen and (max-width: 850px) {
  footer .all-info .footer-information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 15px;
  }
}

footer .all-info .footer-information .mail-info a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media only screen and (max-width: 850px) {
  footer .all-info .footer-information .mail-info a {
    font-size: 15px;
  }
}

footer .all-info .footer-information .mail-info a:hover {
  color: #0A34D2;
}

footer .all-info .footer-information .txt-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 850px) {
  footer .all-info .footer-information .txt-down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

footer .all-info .footer-information .txt-down .part-one ul li {
  padding-bottom: 20px;
}

@media only screen and (max-width: 850px) {
  footer .all-info .footer-information .txt-down .part-one ul li {
    padding-top: 10px;
  }
}

footer .all-info .footer-information .txt-down .part-one ul li a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media only screen and (max-width: 850px) {
  footer .all-info .footer-information .txt-down .part-one ul li a {
    font-size: 15px;
  }
}

footer .all-info .footer-information .txt-down .part-one ul li a:hover {
  color: #0A34D2;
}

footer .all-info .footer-information .txt-down .part-two {
  padding-left: 60px;
}

@media only screen and (max-width: 850px) {
  footer .all-info .footer-information .txt-down .part-two {
    padding-left: 0px;
    padding-bottom: 35px;
  }
}

footer .all-info .copy {
  text-align: center;
  padding-top: 72px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 850px) {
  footer .all-info .copy {
    padding-bottom: 27px;
    padding-top: 42px;
  }
}

footer .all-info .copy .first-descr {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  line-height: 179%;
  color: #FFFFFF;
}

/* container-eight */
@media only screen and (max-width: 1500px) {
  .container-eight {
    width: 95%;
  }
}

.container-eight h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #0A0A0B;
  text-align: center;
}

.container-eight .ambs-card {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 686px 686px;
      grid-template-columns: 686px 686px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding-bottom: 40px;
}

@media only screen and (max-width: 1500px) {
  .container-eight .ambs-card {
    -ms-grid-columns: 47.5% 47.5%;
        grid-template-columns: 47.5% 47.5%;
    -webkit-column-gap: 5%;
            column-gap: 5%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-eight .ambs-card {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    row-gap: 20px;
    margin-top: 60px;
  }
}

.container-eight .ambs-card .left-side {
  background: #0A34D2;
  height: 580px;
  border: 2px solid #0A0A0B;
  border-radius: 50px 0px;
}

@media only screen and (max-width: 1024px) {
  .container-eight .ambs-card .left-side {
    height: 290px;
  }
}

.container-eight .ambs-card .right-side {
  border: 2px solid #0A0A0B;
  border-radius: 0px 50px;
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (max-width: 1024px) {
  .container-eight .ambs-card .right-side {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-eight .ambs-card .right-side h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #0A0A0B;
  padding-top: 126px;
}

@media only screen and (max-width: 1069px) {
  .container-eight .ambs-card .right-side h3 {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-eight .ambs-card .right-side h3 {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .container-eight .ambs-card .right-side h3 {
    font-size: 16px;
  }
}

.container-eight .ambs-card .right-side .txt-three {
  width: 164px;
  background: rgba(56, 97, 251, 0.1);
  border-radius: 50px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3861FB;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .container-eight .ambs-card .right-side .txt-three {
    font-size: 12px;
    width: 115px;
  }
}

@media only screen and (max-width: 600px) {
  .container-eight .ambs-card .right-side .txt-three {
    margin-top: 12px;
  }
}

.container-eight .ambs-card .right-side .txt-four {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #0A0A0B;
  padding-top: 20px;
  /* padding-bottom: 125px;      */
}

@media only screen and (max-width: 1024px) {
  .container-eight .ambs-card .right-side .txt-four {
    padding-bottom: 69px;
    font-size: 14px;
  }
}

.container-one .second-menu .headertwo nav .second li a {
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */