@font-face{
    font-family: 'Grtsk Giga';
    font-weight: 500;
    font-style: normal;
    src: local("Grtsk Giga"), url(./GrtskGiga-Medium.woff);
}

@font-face{
    font-family: 'Grtsk Giga';
    font-weight: 600;
    font-style: normal;
    src: local("Grtsk Giga"), url(./GrtskGiga-Semibold.woff);
}

@font-face{
    font-family: 'Grtsk Giga';
    font-weight: 700;
    font-style: normal;
    src: local("Grtsk Giga"), url(./GrtskGiga-Bold.woff);
}

@font-face{
    font-family: 'Grtsk Giga';
    font-weight: 400;
    font-style: normal;
    src: local("Grtsk Giga"), url(./GrtskGiga-Regular.woff);
}

@font-face{
    font-family: 'Clash Display';
    font-weight: 500;
    font-style: normal;
    src: local("Clash Display"), url(./ClashDisplay-Medium.woff);
}